<!-- hero.component.html -->
<section class="hero">
  <div class="container hero__content fade-in">
    <h1 class="hero__title">Полюс Русс</h1>
    <p class="hero__subtitle">
      Эксклюзивный партнёр напольных покрытий всех категорий Компании GERFLOR - Россия, в Республике Крым
    </p>
    <p class="hero__desc">
      Профессиональное решения для спортивных объектов, медицинских, образовательных, промышленных учреждений, а также
      для офисных помещений и торгово - логистических комплексов.
    </p>

    <p class="hero__desc">
      Гарантия качества, долговечности, комфорта и эстетики.
    </p>
    <div class="hero__actions">
      <a routerLink="/products" class="btn btn--primary">Каталог продукции</a>
      <a routerLink="/contact" class="btn btn--outline">Связаться с нами</a>
    </div>
  </div>
</section>
